body {
    /* background: #17191C; */
    color: #ffffff;
    font-size: 16px;
    line-height: 1.42;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased ;
    -moz-font-smoothing: grayscale;
}
a {
    color:inherit;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}
p {
    margin-top: 0;
}
*{
    box-sizing: border-box;
}


.body, html {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction:column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}
.main-pege-wrapper {
    background: url(../img/hero.jpg) center top no-repeat, url(../img/bottom-pic.jpg) center bottom 300px no-repeat ;
}
.container {
    margin: 0 auto;
    width: 1150px;
}
.hero__container  {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 567px;
}
.header {
    padding-top: 27px;   
    display: flex;
    justify-content:space-between;  
    
}
.header__col {
    display: flex;
    align-items: center;

}
.header__col-align--right {
    justify-content:flex-end;

}
.logo {
    display: block;
   
    margin-top: 4px;
}



.menu__list {
    display: flex;
    margin-left: 215px;
}
.menu__item {
    margin-right: 56px;
}

.menu__item:last-child {
    margin-right: 0;
}   

.menu__link {
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover {
    color:  #FF3D00;    
}
.contacts {
    font-style: normal;
    font-size: 26px;
    line-height: 35px;   
    text-align: right;
}
.contacts__phone {
    text-decoration: none;
}
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color:  #FF3D00;  
    line-height: 125%;
}
.hero__text-section {
    width: 66%;
    min-height: 197px; 
    margin-left: 200px;
}
.hero__title {
   
    margin-bottom: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 98px;
    text-transform: uppercase;   
}
.hero__title--subtitle {
    font-size: 18px;
    margin-bottom: 77px;
    margin-left: 182px;
}
.btn-hero {
    margin-left: 282px;
}
.btn {
    background: #FF5500;
    border-radius: 35px;
    padding: 18px 54px;
    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    
      
    
}
.btn:hover {
    background:  #FF3D00;
    color: #ffffff;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}
.btn--color {
    background: #ffffff ;
    border: solid 2px #FF3D00;
    color: #FF5500;   
}
.btn--color--red {
    border: none;
}
.btn--color-grey {
    background: #8E8E8E;
    border: none;
}
.btn--color-grey:hover {
    background:#2B2B2B;
}
.servis {
    margin-bottom: 142px;
}
.offers {
    display: flex;
    justify-content:space-between;
    
    margin-top: 243px;
}
.offer {
    border-radius: 4px;   
    background: #ffffff;
    min-height: 476px;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
      
}
.offers__item {  
    width: calc(100% / 3 - 18px); 
    padding: 30px;
   
}
.offers__item:last-child {
margin-right: 0;
}

.offers__content {
    color: #000;     
}    
   
.offers__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;    
    margin-bottom: 24px;
    margin-top: 20px;
}
.offers__conditions {
    display: flex;    
    
}
.offers__conditions--time {   
    width: 140px; 
    font-size: 16px;
    line-height: 125%;
}
.offers__conditions--time:last-child {
   margin-right: 0;
}
.offers__text {
    margin-top: 8px;
    margin-bottom: 70px;
}

.coll {
    font-weight: bold;
}
.cection__title {
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;

}
.news {   
    display: flex;
    justify-content:space-between;
}
.news__item {  
    margin-top: 53px;
    flex: 1; 
    margin-right: 2%;     
}
.news__item:last-child {
    margin-right:  0;
}
.single-news {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    
}
.news__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}
.single-news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
    
}
.single-news__date {
    font-size: 15px;
    margin-bottom: 18px;

}
.single-news__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}
.pager {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 27px;
}
.pager__list {
     display: flex;
     align-items: center;

}
.pager__display {
    margin-right: 47px;
    
    
}
.pager__item {
    text-align: center;
    
}
.pager__item .pager__item--active {
    background: #FF3D00;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.pager__link :hover {
    background:#FF3D00 ;
}
.about {
    margin-top: 156px;
    display: flex;

}
.about::before, .about__desc {
    
    border-radius: 4px;
}
.about::before {
    content: "";    
    width: 494px;
    height: 502px;
    background: url(../img/cameraman.jpg) center center / cover no-repeat;
    display: block;
}
.about__desc {
    background: #ffffff;
    padding: 70px 0 0 98px; 
    max-width: 778px;
    min-height: 460px;
    margin-top: 105px;
    margin-left: -131px;
}
.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
}
.about__desc-text {
    margin-bottom: 42px;
    color: #000;
}
.about__desc-text p {
    margin-bottom: 121px;
}
.about__desc-text p :last-child {
    margin-bottom: 0;
}
.footer-container {
    margin-top:auto;     
}  
.footer-container__section {
    height: 135px;
    margin-top: 40px;
} 
.footer {    
    position: relative;   
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__col{
    display: flex;
    align-items: center;
}

.footer__col--aligen-right {
    justify-content:flex-end;
}
.contacts__desc {
    color: #ffffff;
    font-size: 11px;
    line-height: 125%;
}
.menu-footer {
    margin-left: 68px;
}


.socials {   
    display: flex;
    
}
.socials__item {
    
    margin-right: 8px;
}
.socials__item :last-child {
    margin-right: 0;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
 .socials__item-icon-insta, .social__link {
    background-image: url(../img/in2.png);
}
 .socials__item-icon-fb, .social__link {
    background-image: url(../img/f2.png);
}
 .socials__item-icon-vk, .social__link {
    background-image: url(../img/vk2.png);
}
.socials__item-icon-telegram, .social__link {
    background-image: url(../img/t2.png);
}
/* services page  */

.top-line {
    min-height: 416px;
    display: flex;
    flex-direction: column; 
   padding-bottom: 20px;
    background: url(../img/top-line.jpg) center top 100% no-repeat;

}
.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-tatle {
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumbs__atem {
    display: flex;
    align-items:center;
    margin-right: 5px;
   
    
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
}
.breadcrumbs__link {
    font-size: 14px;
    color:#9A9A9A;
    text-decoration: none;
}
.breadcrumbs__atem ::after {
    content: "/";
    color:#9A9A9A ;
   margin-left: 5px;
   
}
.breadcrumbs__atem:last-child ::after {
    display: none;
    
}
.page-content {
    background: #E5E5E5;
    color: #303030;
    padding: 102px 0;
}
.service {
    display: flex;
    margin-top: 54px;
   
    
}

.service__content {
   padding-top: 18px;
    margin-left: 64px;
    margin-bottom: 20px;
}  
.services {
    margin-bottom: 55px;
}
.service__title {
    font-size: 36px;
    line-height: 39px;
    font-weight: bold;
    margin-bottom: 54px;
  
}
.service__desc {
  min-height: 136px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #000;     
}
.pager--time--light {
    color: #000;
    margin-top: 20px;
}
.pager--time--light .pager__item--active .pager__link {
    color: #ffffff;
    background: #FF3D00;
}
.inner-section__title {    
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
.inner-section {
background: #F4F5F5;
    color: #000;
    padding: 50px 0;
    margin-bottom: 53px;
}
.inner-section--bg--grey {
    background:#F4F5F5 ;
}
.partners {
    display: flex;
    flex-wrap: wrap;
}
.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 101px;
    align-items: center;
    justify-content: center;
}
.partners__item {
    margin-left: 23px;
}
.partners__item:nth-child(4n +1) {
    margin-left: 0;
}
.inner-footer {
    background: #17191C;
    margin-top:auto;
}
.inner-footer__container {
    padding: 36px 0;    
}
/* reviews-pages */
.review__item {
    margin-bottom: 20px;
}
.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 148px;
}
.review {
    display:inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;
    border-radius: 5px;
}
.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}
.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.review__user {
    display: flex;
    align-items:center;
    font-style: 24px;
    font-weight: bold;
    color:#2E77A4;
    margin-bottom: 11px;
}
.review__user::after {
    content:url(../img/vk-blue\ 1.png);
    height: 29px;
    }
.review__tags {
    display: flex;
    align-items:flex-start;
}
.tag {
    font-size: 13px;
     color: #303030;
     padding:10px 25px;
     background: #F2D4C9;
    border-radius: 35px;
}
.review__title {
    font-size: 30px;
    color:#202020;
    font-weight: bold;
    margin-bottom: 23px;
}
.review__content-text {
    margin-bottom: 50px;
}
.review__date {
    font-size: 14px;
    color: #1A1B1E;
    font-weight: bold;
}
.separator {
    background:url(../img/party.png) right 20% no-repeat, linear-gradient(0deg, #373737, #373737);
    min-height: 363px;
    display: flex;
    flex-direction: column;
   justify-content:center;

}
.separator__content {
    max-width: 49%;
}
.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}
.red {
    color: #FF3D00;
}
.form__row{
    display: flex;
    margin-right: 30px;
    margin-bottom: 20px;
}
.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #000;
}
.form__input::placeholder {
    color:  #666666;
}
.form__input :last-child {    
    margin-right: 0px;
}
.form__input--textarea {
    height: 232px;
}
.form__controls {
    display: flex;
    margin-bottom: 30px;
}
.form__controls-title {
    width: 40%;
    padding-left: 30px;
    margin-right: 15px;
}
.controls__elem {
    cursor: pointer;
    background:#E7E7E7; ;
   
}
.controls__checkbox:checked ~.controls__tag {
    
    background: #F2D4C9;
}
.controls__checkbox {
    display: none;
}
.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}
.tag-controls {
    background: #E7E7E7;
}
.button {
    cursor: pointer;
    
}
.form__btn {
    margin-right: 20px;
}
.form__btn:last-child {
    margin-right: 0;
}
.form__btns {
    display: flex;
    justify-content: flex-end;
}